<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Chatbot SM Solutions</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- W3Schools Style -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet"
		/>

		<!-- Template Main CSS File -->
		<link href="../stylesheets/style.css" rel="stylesheet" />

		<!--TODO-->
		<link
			rel="stylesheet"
			href="/public/stylesheets/style.css"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
			integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<div id="main" style="margin-left: 0%;">
			<div id="Cabecalho" class="w3-container w3-teal">
				<center>
					<h1 class="">Chatbot SM Solutions</h1>
					<h5>
						Bem-vindo ao Chatbot do Aplicativo de Listas To-Do da SM
						Solutions.
					</h5>
				</center>
			</div>
		</div>
		<script>
			function LimparForm(NomeForm) {
				document.getElementById(NomeForm).reset();
			}
		</script>
		<div id="mySidenav" class="sidenav" style="width: 220px;">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
				>×</a
			>
			<a href="/tasks">Início</a>
			<a href="/tasks#tasks">Listas</a>
			<a href="/tasks#tasks">Tarefas</a>
			<a href="/tasks#about">Sobre</a>
			<a href="/ListatodoComment">Comentários</a>
			<a href="/tasks#contact">Contatos</a>
			<a href="/faleConosco">Fale Conosco</a>
			<a href="/logout">Logout</a>
		</div>
		<center>
			<h2>Identifique-se e Envie sua Mensagem:</h2>

			<form id="comment-form" name="comment-form_PWN">
				<fieldset
					style="
						background-color: #eeeeee;
						position: relative;
						height: auto;
						width: 400px;
					"
				>
					<legend
						style="
							background-color: gray;
							color: black;
							padding: 5px 10px;
						"
					>
						<b>Mensagens</b>
					</legend>
					<br />

					<label for="author"><b>Autor: </b></label> <br />
					<br />
					<input
						type="text"
						id="author"
						name="author"
						placeholder="Autor"
						size="50"
						required
					/>
					<br />
					<br />

					<label for="comment"><b>Comentário: </b></label> <br />
					<br />
					<textarea
						id="comment"
						name="comment"
						placeholder="Comentário"
						cols="50"
						rows="6"
					></textarea>
					<br />
					<br />
					<!-- <button type="Submit">Enviar</button> -->
					<button type="submit">Enviar Mensagem</button>
					<input
						type="button"
						onclick="LimparForm('comment-form')"
						value="Reset Form"
					/>
				</fieldset>
			</form>

			<!-- <p><b>Observe que cada campo do Formulário tem o tamanho máximo de 50 caracteres.</b></p>
-->

			<!-- 
    Conexão Cliente-Sevidor: Importando a biblioteca socket.io para o cliente.
    Vem do package.json:
    "name": "nodejs-socket.io", "version": "1.0.0",
-->
			<div>
				<p><b> Mensagens: </b></p>
				<ul id="mensagens"></ul>
			</div>
		</center>
		<script src="/socket.io/socket.io.js"></script>
		<!--
    Declarando um instância SOCKET.IO na constante socket no https://nodejs-trabalhofinal-pwn.herokuapp.com:3001 (Servidor).
-->
		<script type="text/javascript">
			const socket = io(
				'https://nodejs-trabalhofinal-pwn.herokuapp.com:3001'
			);
			//
			// Recebendo a Mensagem do Cliente (String).
			//
			socket.on('mensagemDoServidor', (content) => {
				alert(content);
			});
			//
			// Emitindo mensagem para o Cliente que abriu a Sessão (String).
			//
			socket.emit(
				'mensagemDoCliente',
				'Bem-vindo ao Chatbot da SM Solutions'
			);
			//
			// Emitindo mensagem do Cliente (Objeto).
			//
			socket.emit('mensagemDoClienteObj', {
				Nome: 'Bem-vindo ao Chatbot da SM Solutions',
				Tïpo: 'Supervisor do Portal',
			});
			//
			//
			// Emitindo mensagem para todos Cliente que agriram uma Sessão (String).
			//
			// socket.broadcast.emit('mensagemDoCliente', 'Luciano Lima');
			//
			const ListaMsg = document.getElementById('mensagens');
			//
			const renderMSG = (mensagem) => {
				const itemMSG = document.createElement('p');
				itemMSG.innerHTML = `<strong>${mensagem.author}</strong>: ${mensagem.comment}`;
				ListaMsg.append(itemMSG);
			};
			const renderUsr = (Usuarios) => {
				const itemUsr = document.createElement('p');
				itemUsr.innerHTML = `${Usuarios.quantidade}`;
				ListaMsg.append(itemUsr);
			};
			//
			// Formulário Onsubimit. Setando o Form na varável.
			//
			const FormMSG = document.getElementById('comment-form');
			//
			// Implementação Botão Onsubmit.
			//
			FormMSG.onsubmit = function (evento) {
				evento.preventDefault();
				//
				const author = document.getElementById('author').value;
				const comment = document.getElementById('comment').value;
				const dadoMSG = { author, comment };
				//
				// Enviando a Mensagem do Form
				//
				renderMSG(dadoMSG);
				//
				socket.emit('MSGCliente', dadoMSG);
			};
			socket.on('grupoMSG', (mensagem) => {
				renderMSG(mensagem);
				alert('Você recebeu uma Mensagem');
			});
			socket.on('usuarioConetado', (Usuario) => {
				renderUsr(Usuario);
			});
		</script>
	</body>
</html>
