<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- W3Schools Style -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet"
		/>

		<!-- Template Main CSS File -->
		<link href="../stylesheets/style.css" rel="stylesheet" />

		<!--TODO-->
		<link
			rel="stylesheet"
			href="/public/stylesheets/style.css"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
			integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<div id="main" style="margin-left: 0%;">
			<div id="Cabecalho" class="w3-container w3-teal">
				<center>
					<h1 class="">SM Solutions</h1>
					<h1>Controle de Listas To-Do</h1>
					<p>Comentários sobre Aplicativo Listas To-Do.</p>
				</center>
			</div>
		</div>
		<div id="mySidenav" class="sidenav" style="width: 220px;">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
				>×</a
			>
			<a href="/tasks">Início</a>
			<a href="/tasks#tasks">Listas</a>
			<a href="/tasks#tasks">Tarefas</a>
			<a href="/tasks#about">Sobre</a>
			<a href="/ListatodoComment">Comentários</a>
			<a href="/tasks#contact">Contatos</a>
			<a
				href="https://nodejs-trabalhofinal-pwn.herokuapp.com:3001/faleConosco"
				>Fale Conosco</a
			>
			<a href="/logout">Logout</a>
		</div>
		<br />
		<ul>
			{{#each commentaries}}
			<li>
				<p>
					<b>Autor</b>: {{ this.author }} - <b>Data</b>:
					{{ this.datecomm }}
				</p>
				<p><b>Comentário</b>: {{ this.comment }}</p>
				<br />
			</li>
			{{/each}}
		</ul>
	</body>
</html>
